
    /**
     * Getter for ${fieldJsonName}.
     */
    ${xmlElement}
    public ${fieldJavaType} get${fieldJavaName}() {
        return ((LightningApi.${className}.Builder) builder).get${fieldJavaName}();
    }

    /**
     * Setter for ${fieldJsonName}.
     */
    public void set${fieldJavaName}(${fieldJavaType} value) {
        ((LightningApi.${className}.Builder) builder).set${fieldJavaName}(value);
    }
