
    /**
     * Getter for ${fieldJsonName}.
     */
    ${xmlElement}
    public ${fieldJavaType} get${fieldJavaName}() {
        return ${fieldJavaType}.wrap(((${apiClassName}.${className}.Builder) builder).get${fieldJavaName}());
    }

    /**
     * Setter for ${fieldJsonName}.
     */
    public void set${fieldJavaName}(${fieldJavaType} value) {
        ((${apiClassName}.${className}.Builder) builder).set${fieldJavaName}(value.getApiObject());
    }
